header {
  z-index: 20;
  position: fixed;
  width: 100%;

  .nav-wrapper {
    background-color: var(--background-color);
    width: 100%;
    z-index: 2;
  }

  nav {
    .nav-hamburger {
      grid-area: hamburger;
      height: 22px;
      display: flex;
      align-items: center;

      button {
        height: 22px;
        margin: 0;
        border: 0;
        border-radius: 0;
        padding: 0;
        background-color: var(--background-color);
        color: inherit;
        overflow: initial;
        text-overflow: initial;
        white-space: initial;
      }
    }

    .nav-hamburger-icon,
    .nav-hamburger-icon::before,
    .nav-hamburger-icon::after {
      box-sizing: border-box;
      display: block;
      position: relative;
      width: 20px;
    }

    .nav-hamburger-icon::before,
    .nav-hamburger-icon::after {
      content: '';
      position: absolute;
      background: currentcolor;
    }
  }

  nav[aria-expanded='false'] .nav-hamburger-icon,
  nav[aria-expanded='false'] .nav-hamburger-icon::before,
  nav[aria-expanded='false'] .nav-hamburger-icon::after {
    height: 2px;
    border-radius: 2px;
    background: currentcolor;
  }

  nav[aria-expanded='false'] .nav-hamburger-icon::before {
    top: -6px;
  }

  nav[aria-expanded='false'] .nav-hamburger-icon::after {
    top: 6px;
  }

  nav[aria-expanded='true'] .nav-hamburger-icon {
    height: 22px;
  }

  nav[aria-expanded='true'] .nav-hamburger-icon::before,
  nav[aria-expanded='true'] .nav-hamburger-icon::after {
    top: 3px;
    left: 1px;
    transform: rotate(45deg);
    transform-origin: 2px 1px;
    width: 24px;
    height: 2px;
    border-radius: 2px;
  }

  nav[aria-expanded='true'] .nav-hamburger-icon::after {
    top: unset;
    bottom: 3px;
    transform: rotate(-45deg);
  }

  @media (width >= 900px) {
    header nav .nav-hamburger {
      display: none;
      visibility: hidden;
    }
  }

  nav {
    box-sizing: border-box;
    display: grid;
    grid-template:
      'hamburger brand tools' var(--nav-height)
      'sections sections sections' 1fr / auto 1fr auto;
    align-items: center;
    float: unset !important;
    margin: 0 auto;
    max-width: 873pt;
    padding: 75px 14px 50px 14px;

    &.scrolled {
      padding-bottom: 5px;
      padding-top: 40px;
    }

    &[aria-expanded='true'] {
      grid-template:
        'hamburger brand' var(--nav-height)
        'sections sections' 1fr
        'tools tools' var(--nav-height) / auto 1fr;
      overflow-y: auto;
      min-height: 100vh;
    }

    p {
      margin: 0;
      line-height: 1;
    }

    a:any-link {
      color: currentcolor;
    }

    .nav-hamburger {
      grid-area: hamburger;
      height: 22px;
      display: flex;
      align-items: center;

      button {
        height: 22px;
        margin: 0;
        border: 0;
        border-radius: 0;
        padding: 0;
        background-color: var(--background-color);
        color: inherit;
        overflow: initial;
        text-overflow: initial;
        white-space: initial;
      }

      &-icon,
      &-icon::before,
      &-icon::after {
        box-sizing: border-box;
        display: block;
        position: relative;
        width: 20px;
      }

      &-icon::before,
      &-icon::after {
        content: '';
        position: absolute;
        background: currentcolor;
      }
    }

    &[aria-expanded='false'] {
      .nav-hamburger-icon,
      .nav-hamburger-icon::before,
      .nav-hamburger-icon::after {
        height: 2px;
        border-radius: 2px;
        background: currentcolor;
      }

      .nav-hamburger-icon::before {
        top: -6px;
      }

      .nav-hamburger-icon::after {
        top: 6px;
      }
    }

    &[aria-expanded='true'] {
      .nav-hamburger-icon {
        height: 22px;

        &::before,
        &::after {
          top: 3px;
          left: 1px;
          transform: rotate(45deg);
          transform-origin: 2px 1px;
          width: 24px;
          height: 2px;
          border-radius: 2px;
        }

        &::after {
          top: unset;
          bottom: 3px;
          transform: rotate(-45deg);
        }
      }
    }

    .nav-brand {
      grid-area: brand;
      flex-basis: 128px;
      font-size: var(--heading-font-size-s);
      font-weight: 700;
      line-height: 1;
      float: left;
      width: 16.6666666667%;
      padding: 0 14px;

      img {
        width: 128px;
        height: auto;
        margin: 7px 0;
      }
    }

    .nav-sections {
      grid-area: sections;
      flex: 1 1 auto;
      display: none;
      visibility: hidden;
      background-color: var(--overlay-color);
      padding: 0 14px;
      display: none;
      min-width: 75pt;

      ul {
        list-style: none;
        padding-left: 0;
        font-size: var(--body-font-size-s);
        font-weight: 500;

        > li {
          padding: 15px 17px;

          a {
            font-weight: 500;
            color: var(--textColor, #202020);
            font-size: 14px;
            text-transform: uppercase;
            text-decoration: none;
          }

          &:hover {
            background-color: rgb(255, 234, 0);
          }
        }
      }
    }

    &[aria-expanded='true'] .nav-sections {
      display: block;
      visibility: visible;
      align-self: start;
    }

    .nav-tools {
      display: flex;
      grid-area: tools;
      float: right;
      width: 140px;
      padding: 10px 14px;
      font-size: 14px;
      line-height: 1.5;
      background-color: #ebebeb8a;

      input {
        all: unset;
        padding-left: 10px;
        width:100%;
        overflow:hidden;
        white-space: nowrap;
      }

      

      .icon {
        transform: rotate(95deg);
      }
    }
  }

  #utility {
    height: 25px;
    background-color: black;
    color: var(--text-color-light);
    display: flex;
    justify-content: right;
    font-size: var(--body-font-size-xs);
    text-transform: uppercase;
    padding: 0 140px;
    position: fixed;
    z-index: 2;
    right: 0;
    left: 0;

    .lang-nav {
      all: unset;
      display: flex;
      float: right;
    }

    .signin {
      margin-top: 0;
      margin-bottom: 0;
      padding: 0 14px;
      cursor: pointer;
    }

    .icon {
      height: 24px;
      width: 34px;
      margin-right: 6px;
    }

    .nav-utility {
      width: 100%;
      visibility: visible;
      white-space: wrap;
      color: white;
      float: right;

      .nav-drop {
        position: relative;
        padding-right: 16px;
        cursor: pointer;

        &::after {
          content: '';
          display: inline-block;
          position: absolute;
          top: 15%;
          right: 2px;
          transform: rotate(135deg);
          width: 10px;
          height: 10px;
          border: 2px solid currentcolor;
          border-radius: 0 1px 0 0;
          border-width: 1px 1px 0 0;
        }

        &[aria-expanded='true']::after {
          top: unset;
          bottom: 0.5em;
          transform: rotate(315deg);
        }
      }

      ul {
        all: unset;
        list-style: none;
        display: flex;
        margin: 0;
        font-size: var(--body-font-size-xs);
        float: right;
        margin: 0 16px;
      }

      .lang-nav > ul > li {
        position: relative;
        font-weight: 500;
        float: right;

        u {
          all: unset;
          color: white;
          text-decoration: none;
          position: relative;
          top: -18%;
          padding-right: 5px;
        }

        > ul {
          display: none;
          position: relative;

          &::before {
            content: '';
            position: absolute;
            top: -8px;
            left: 8px;
            width: 0;
            height: 0;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-bottom: 8px solid var(--light-color);
          }

          > li {
            font-size: 14px;
            border-bottom-color: dimgray !important;
            background-position-x: 9pt;
            background-position-y: center;
            background-repeat: no-repeat;
            background-size: 25px;
            border-bottom: 0.25px solid;
            padding: 5px 0 5px 5px;

            .icon {
              position: relative;
              top: 15px;
            }

            u {
              text-decoration: none;
              position: relative;
              display: block;
              font-size: 0.9em;
              left: 40px;
            }
          }
        }

        &[aria-expanded='true'] > ul {
          display: block;
          position: absolute;
          z-index: 9999;
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
          margin-top: 12px;
          background-color: #202020;
          white-space: initial;
          top: 38px;
          width: 360px;
          transform: translateX(-70%);
        }
      }
    }

    &[aria-expanded='true'] .nav-utility {
      align-self: unset;
    }
  }
}

@media (width >= 600px) {
  header nav {
    padding: 75px 14px 50px 14px;
  }
}

@media (width >= 900px) {
  header nav {
    display: flex;
    justify-content: space-between;
    transition: padding 0.5s ease-out;
    box-shadow: none;

    &[aria-expanded='true'] {
      min-height: 0;
      overflow: visible;
    }

    .nav-hamburger {
      display: none;
      visibility: hidden;
    }

    .nav-sections {
      display: block;
      visibility: visible;
      white-space: nowrap;

      ul {
        display: flex;
        margin: 0;
        font-size: var(--body-font-size-xs);
        float: right;
      }

      .default-content-wrapper > ul > li {
        flex: 0 1 auto;
        position: relative;
        font-weight: 500;
      }
    }
  }

  header #utility .nav-utility .lang-nav > ul > li[aria-expanded='true'] > ul {
    transform: unset;
    width: 360px;
    left: -250px;
  }
}