/* #about-us{
    font-weight: normal;
    margin: 27px 0 13.5px;
    font-size: 40px;
} */
/* #our-contributors{
    margin: 27px 0 13.5px;
} */
/* #our-contributors::after{
    content: "";
    display: block;
    border-bottom: 2px solid #ffea00;
    padding-top: 8px;
    width: 84px;
} */


.section.about-us-cards-container>.default-content-wrapper{
    > h1{
    font-weight: normal;
    margin: 27px 0 13.5px;
    font-size: 40px;
    }
    >h2{
        margin: 27px 0 13.5px;
    }
    }

.section.about-us-cards-container>.default-content-wrapper>p{
    display: block;
    font-size: 14px;
    line-height: 2.5;
    margin: 0 0 13.5px;
    text-align: justify;
    font-style: italic;
}

.about-us-cards-wrapper>.about-us-cards.block{
    > div{
        padding: 9px 14px 18px;
        @media(width>768px){
            width:45%;
            display:inline-block;
        }
        @media(width>1024px){
            width:22%;
        }
        > div:first-child{
            > picture{
                display: flex;
                justify-content: center;
                align-items: center;
                > img{
                    border-radius: 50%;
                    object-fit: cover;
                    width: 164px;
                    height: 164px;
                    display: block;
                    overflow: hidden;
                    margin: 7px 0px;

                }
            }
        }
        > div:last-child{
            text-align: center;
            color: #202020;
            h3{
                margin: 0px 0px 6px;
                font-size: 24px;
                font-weight: var(--fontWeightNormal, normal);
                font-family: var(--fontFamilySerif, "Asar", Georgia, "Times New Roman", Times, serif);
            }
            h5{
                margin: 0px 0px 3.5px;
                font-size: 14px;
                font-family: var(--fontFamilySansSerif, "Source Sans 3", "Helvetica Neue", Helvetica, Arial, sans-serif);
                text-transform: uppercase;
                font-weight: 600;
                line-height: 1.5;
            }
            > .button-container{
                > a{
                    all:unset;
                    color:red;
                }
                display: inline-block;
                height:3pc;
                width: 3pc;
                background-color: black;
                margin-right: -10px;
                .icon img {
                    cursor: pointer;
                    padding-top:10px;
                }
            }
        }
    }
}